<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - asp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="header">
        <div class="header-main">
            <div class="header-top">
                <div class="header-top-left">
                    <div class="header-top__txt">Home</div>
                    <div class="header-top__txt">About</div>
                    <div class="header-top__txt">Manu</div>
                    <div class="header-top__txt">Reservation</div>
                </div>
                <div class="header-top-logo">
                    <img src="/image/Group.svg" alt="">
                    <div class="header-top-logo__txt">CAFENA</div>
                </div>
                <div class="header-top-mid">
                    <div class="header-top__txt">Pages</div>
                    <div class="header-top__txt">Shop</div>
                    <div class="header-top__txt">Contact</div>
                </div>
                <div class="context-menu">
                    <img src="/image/Group 3.svg" alt="">
                </div>
                <div class="context-menu-open">
                    <ul>
                        <li>Ссылка 1</li>
                        <li>Ссылка 2</li>
                        <li>Ссылка 3</li>
                    </ul>
                </div>
            </div>
            <div class="header-bot">
                <div class="header-bot-left">
                    <div class="header-bot__Ltxt">ONE OF THE BEST COFFEE HOUSE IN YOUR HOME TOWN</div>
                    <div class="header-bot__txt" style="width: 500px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit do eiusmod veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea commodo consequat.</div>
                    <div class="header-bot-left-blocks">
                        <div class="header-bot-left-button">Explore more</div>
                        <div class="header-bot-left-button">Read more</div>
                    </div>
                </div>
                <img src="/image/3604334-removebg-preview 1.png" alt="">
            </div>
        </div>
    </div>
    <div class="three">
        <div class="three-main">
            <div class="three-block">
                <div class="three-block-inf">
                    <div class="three-block-inf-spot">
                        <div class="three-block-inf-spot-blTxt">
                            <div class="three-block-inf-spot-blTxt__white">01</div>
                            <div class="three-block-inf-spot-blTxt__black">Best Coffee Flavor</div>
                        </div>
                    </div>
                    <div class="three-block-inf__txt">Curabitur semper erat a lacusey sedny consequat,sit ametey.</div>
                </div>
                <div class="three-block__orange"></div>
            </div>
            <div class="three-block">
                <div class="three-block-inf" style="background: url(/image/andrew-spencer-YUEcePrJsgg-unsplash\ 1.png);">
                    <div class="three-block-inf-spot">
                        <div class="three-block-inf-spot-blTxt">
                            <div class="three-block-inf-spot-blTxt__white">02</div>
                            <div class="three-block-inf-spot-blTxt__black">Proper Roasting</div>
                        </div>
                    </div>
                    <div class="three-block-inf__txt">Curabitur semper erat a lacusey sedny consequat,sit ametey.</div>
                </div>
                <div class="three-block__orange"></div>
            </div>
            <div class="three-block">
                <div class="three-block-inf"  style="background: url(/image/jonas-jacobsson-RFHFV7lVQBY-unsplash\ 1.png);">
                    <div class="three-block-inf-spot">
                        <div class="three-block-inf-spot-blTxt">
                            <div class="three-block-inf-spot-blTxt__white">03</div>
                            <div class="three-block-inf-spot-blTxt__black">Best Coffee Flavor</div>
                        </div>
                    </div>
                    <div class="three-block-inf__txt">Curabitur semper erat a lacusey sedny consequat,sit ametey.</div>
                </div>
                <div class="three-block__orange">
                </div>
            </div>
        </div>
    </div>
    <div class="coffee">
        <div class="coffee-main">
            <div class="coffee__Btxt">Roasted CoffeeFor You</div>
            <div class="coffee__txt">Donec et nibh maximus, congue est eu, mattis nunc. Praesent utquam quis quam venenatis fringilla. Morbi vestibulum id tellusmmodo mattis. Aliquam erat volutpat.</div>
            <div class="coffee-button">Explore More</div>
        </div>
    </div>
    <div class="popular">
        <div class="popular-main">
            <div class="popular-top">
                <div class="popular-top__button">Popular Product</div>
                <div class="popular-top__txt">Cafena Popular Product</div>
            </div>
            <div class="popular-bot">
                <div class="popular-bot-line">
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/coffeebeans.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Vicaragua Coffee Beans</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/coffeebeans.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Vicaragua Coffee Beans</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-bot-line">
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/battlecreek-coffee-roasters-rsnzc-8dVs0-unsplash\ 1.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Espresso Ristretto</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/battlecreek-coffee-roasters-rsnzc-8dVs0-unsplash\ 1.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Espresso Ristretto</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-bot-line">
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/earlybird-coffee-mSjTAV7JuV4-unsplash\ \(1\)\ 2.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Ethiopia Coffee</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                    <div class="popular-bot-block">
                        <div class="popular-bot-block-left" style="background: url(/image/earlybird-coffee-mSjTAV7JuV4-unsplash\ \(1\)\ 2.png);"></div>
                        <div class="popular-bot-block-right">
                            <div class="popular-bot-block-right-name">
                                <div class="popular-bot-block-right-name-txt">Ethiopia Coffee</div>
                                <div class="popular-bot-block-right-price">$29</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="machine">
        <div class="machine-main">
            <div class="machine-left">
                <div class="machine__txtT">COFFEE MACHINE,BUY FOR HOME</div>
                <div class="machine-mid-txt">
                    <div class="machine-mid__txtT">Donec et nibh maximus, congue est eu, mattis nunc. Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat.</div>
                    <div class="machine-mid__txtB">mattis nunc. Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis.</div>
                </div>
                <div class="machine-button">Discover Now</div>
            </div>
            <div class="machine-right">
                <div class="machine-right__bc"></div>
                <div class="machine-right__c">
                    <img src="/image/thomas-murphy-WyD1PTucBZc-unsplash-removebg-preview 1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="BestProduct">
        <div class="BestProduct-header">
            <div class="BestProduct-header_text">Cafena Best Product</div>
            <input type="button" class="BestProduct-header_button" value="Cafena Best Product">
        </div>
        <div class="BestProduct-menu">
            <a href="#" class="BestProduct-menu-item">
                <div class="BestProduct-menu-item-img"><img src="./image/P2PET20-removebg-preview 1.png" alt=""></div>
                <div class="BestProduct-menu-item-rating">
                    <div class="BestProduct-menu-item-rating-text">Rating:</div>
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                </div>
                <div class="BestProduct-menu-item-name">Vicaragua Coffee Beans</div>
                <div class="BestProduct-menu-item-price">Price: <b class="BestProduct-menu-item-price_b">$25</b></div>
            </a>
            <a href="#"  class="BestProduct-menu-item">
                <div class="BestProduct-menu-item-img"><img src="./image/19430931-removebg-preview (1) 1.png" alt=""></div>
                <div class="BestProduct-menu-item-rating">
                    <div class="BestProduct-menu-item-rating-text">Rating:</div>
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                </div>
                <div class="BestProduct-menu-item-name">Americano Coffee</div>
                <div class="BestProduct-menu-item-price">Price: <b class="BestProduct-menu-item-price_b">$25</b></div>
            </a>
            <a href="#"  class="BestProduct-menu-item">
                <div class="BestProduct-menu-item-img"><img src="./image/21256541-removebg-preview 1.png" alt=""></div>
                <div class="BestProduct-menu-item-rating">
                    <div class="BestProduct-menu-item-rating-text">Rating:</div>
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                    <img src="./image/star.svg" alt="">
                </div>
                <div class="BestProduct-menu-item-name">Virgin Coffee Gred</div>
                <div class="BestProduct-menu-item-price">Price: <b class="BestProduct-menu-item-price_b">$25</b></div>
            </a>
        </div>
    </div>
    <div class="CustomerFeedback">
        <div class="CustomerFeedback_header">CUSTOMER FEEDBACK</div>
        <div class="CustomerFeedback_text">OUR CUSTOMER REVIEW</div>
        <div class="CustomerFeedback-Review">
            <button class="CustomerFeedback-Review_ButtonLeft"><img src="./image/ButtonLeft.svg" alt=""></button>
            <div class="CustomerFeedback-Review-slider">
                <div class="CustomerFeedback-Review-slider-block">
                    <div class="CustomerFeedback-Review-slider-block-content">
                        <div class="CustomerFeedback-Review-slider-block-content_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem opposed to using 'Content here, content here..</div>
                        <img src="./image/ben-parker-OhKElOkQ3RE-unsplash 1.png" alt="" class="CustomerFeedback-Review-slider-block-content_img">
                        <div class="CustomerFeedback-Review-slider-block-content_name">Rasalida Williamson</div>
                    </div>
                    <div class="CustomerFeedback-Review-slider-block-content">
                        <div class="CustomerFeedback-Review-slider-block-content">
                            <div class="CustomerFeedback-Review-slider-block-content_text">Я тут ел помидор и обнаружил в нём мальтийский крест, удивительное чудо природы надо сохранить, но надо есть</div>
                            <img src="./image/maxresdefault (2).jpg" alt="" class="CustomerFeedback-Review-slider-block-content_img">
                            <div class="CustomerFeedback-Review-slider-block-content_name">пророк самбой</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="CustomerFeedback-Review_ButtonRight"><img src="./image/ButtonRight.svg" alt=""></button>
        </div>
    </div>
    <div class="Reservation">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d5031.915269539556!2d34.793992!3d50.906!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d50.906!2d34.793991999999996!5e0!3m2!1sru!2sru!4v1700618198148!5m2!1sru!2sru" width="587px" height="391.95px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="Reservation-FieldsToFillIn">
            <div class="Reservation-FieldsToFillIn_header">RESERVATION</div>
            <div class="Reservation-FieldsToFillIn_text">BOOKING A TABLE</div>
            <div class="Reservation-FieldsToFillIn-field">
                <input type="text" placeholder="4 person" class="Reservation-FieldsToFillIn-field_input">
                <img src="./image/person.svg" alt="" class="Reservation-FieldsToFillIn-field_img">
            </div>
            <div class="Reservation-FieldsToFillIn-field">
                <input type="text" placeholder="12/06/2022" class="Reservation-FieldsToFillIn-field_input">
                <img src="./image/data.svg" alt="" class="Reservation-FieldsToFillIn-field_img">
            </div>
            <div class="Reservation-FieldsToFillIn-field">
                <input type="text" placeholder="Email" class="Reservation-FieldsToFillIn-field_input">
                <img src="./image/email.svg" alt="" class="Reservation-FieldsToFillIn-field_img">
            </div>
            <button class="Reservation-FieldsToFillIn_button">BOOK A TABLE</button>
        </div>
    </div>
    <div class="Blog">
        <div class="Blog_header">FROM OUR BLOG</div>
        <div class="Blog_text">OUR NEWS & ARTICLES</div>
        <div class="Blog-InfoBlock">
            <div class="Blog-InfoBlock-item">
                <img src="./image/restaurant-interior 1.png" alt="" class="Blog-InfoBlock-item_img">
                <div class="Blog-InfoBlock-item_tags"><b class="Blog-InfoBlock-item_b">BY:</b> Cafena / Burger / Apr 30, 2022</div>
                <div class="Blog-InfoBlock-item_text">Build A Cool Morning With Cafena Coffee</div>
                <a class="Blog-InfoBlock-item_link" href="#">READ MORE <img src="./image/str.svg" alt=""></a>
            </div>
            <div class="Blog-InfoBlock-item">
                <img src="./image/cappuccino-coffee-white-cup-wooden-table-delicious-croissant-tasty-snak-vintage-coffee-shop 1.png" alt="" class="Blog-InfoBlock-item_img">
                <div class="Blog-InfoBlock-item_tags"><b class="Blog-InfoBlock-item_b">BY:</b> Cafena / Burger / Apr 30, 2022</div>
                <div class="Blog-InfoBlock-item_text">Build A Cool Morning With Cafena Coffee</div>
                <a class="Blog-InfoBlock-item_link" href="#">READ MORE <img src="./image/str.svg" alt=""></a>
            </div>
            <div class="Blog-InfoBlock-item">
                <img src="./image/young-woman-eating-croissants-cafe 1.png" alt="" class="Blog-InfoBlock-item_img">
                <div class="Blog-InfoBlock-item_tags"><b class="Blog-InfoBlock-item_b">BY:</b> Cafena / Burger / Apr 30, 2022</div>
                <div class="Blog-InfoBlock-item_text">Build A Cool Morning With Cafena Coffee</div>
                <a class="Blog-InfoBlock-item_link" href="#">READ MORE <img src="./image/str.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="table">
        <div class="table-name">Coffe in stock</div>
        <div class="table-coffee">
            <div class="table-coffee-text">
                <div class="table-coffee-text_type">Type</div>
                <div class="table-coffee-text_integer">Integer</div>
            </div>
            <div class="table-coffee-info">
                <div class="table-coffee-info_type"></div>
                <div class="table-coffee-info_integer"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a class="footer_GoTop" href="#"><img src="./image/GoTop.svg" alt=""></a>
        <div class="footer_GoTopButton">GO TO TOP</div>
        <div class="footer-contact">
            <div class="footer-contact_phone"><img src="./image/position.svg" alt=""><b class="footer-contact_b">Phone:</b> +88019 339 702 520</div>
            <div class="footer-contact_phone"><img src="./image/phone.svg" alt=""><b class="footer-contact_b">Address:</b> 30 North Wes New</div>
            <div class="footer-contact-email"><input type="text"class="footer-contact-email_input" placeholder="Enter Your Email"><img src="./image/telegram.svg" alt="" class="footer-contact-email_img"></div>
        </div>
        <div class="footer-logo">
            <img src="./image/logo (2).svg" alt="" class="footer-logo_img">
            <div class="footer-logo_text">CAFENA</div>
        </div>
        <div class="footer-web">
            <div class="footer-web_text">Donec et nibh maximus, congue est eu, mattis nunc. Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum</div>
            <img src="./image/web.svg" alt="" class="footer-web-WebLink">
        </div>
        <div class="footer_end">ALL RIGHT RESERVED © 2022</div>
    </footer>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>